In [ ]:
#Assigment:
#Break vs Continue
#similarity between beak and continue:->skip the current execution.
#what is pass /use of pass->Create empty block
#10 problem on list comprehension.

In [6]:
#Break vs Continue:
#->Break:A break statement in Python alters the flow of a loop by terminating it once a specified condition is met. 
#->Continue: The continue statement in Python is used to skip the remaining code inside a loop for the 
    #->current iteration only

In [4]:
#similarity between beak and continue:->
#->Both the statements are of a similar type, and they allow a user to alter/ make changes to the flow of a program
#->Both skip the current execution.

In [7]:
#what is pass:
#->The pass statement is used as a placeholder for future code. When the pass statement is executed,
#-nothing happens, but you avoid getting an error when empty code is not allowed. Empty code is not allowed in loops,
#-function definitions, class definitions, or in if statements.

In [9]:
#10 problem on list comprehension.

#1.print cube to number

l=[3,4,7,5,8]
print([i**3 for i in l])

[27, 64, 343, 125, 512]

In [12]:
#2.remove all odd numbers from the list:
numbers = [3,5,45,97,32,22,10,19,39,43]
print([ i for i in numbers if i%2==0])

[32, 22, 10]

In [13]:
#2.remove all even numbers from the list:
numbers = [3,5,45,97,32,22,10,19,39,43]
print([ i for i in numbers if i%2!=0])

[3, 5, 45, 97, 19, 39, 43]

In [15]:
#3.Find all of the numbers from 1-100 that are divisible by 7
print([i for i in range(101) if i%7==0 ])

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [25]:
#4.Find the common numbers in two lists (without using a tuple or set) 
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
l=len(list_a)
print([ list_a[i]  for i in range(l) if list_a[i] in list_b])

[2, 3, 4]

In [29]:
#5. Finding the elements in a list in which elements are ended with the letter ‘b’ and
#->the length of that element is greater than 2
names = ['Ch','Dh','Eh','cb','Tb','Td','Chb','Tdb']
print([ i for i in names if i.endswith('b') and len(i) > 2])

['Chb', 'Tdb']

In [31]:
#6.Given dictionary is consisted of vehicles and their weights in kilograms. 
#->Contruct a list of the names of vehicles with weight below 5000 kilograms.
dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600,
      "Bicycle": 7, "Motorcycle": 110}


print([ i for i in dict if dict[i]<500])

['Bicycle', 'Motorcycle']

In [41]:
#7.NUmber divisible by both 2 and 5 from 10-100

print([i for i in range(101) if i%2==0  if i%5==0])

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [34]:
#8.print+ ve number
num=[12,-1,70,73,96,-7,-2,14,35]
print([ i for i in num if i>0])

[12, 70, 73, 96, 14, 35]

In [35]:
#9.print -ve number
num=[12,-1,70,73,96,-7,-2,14,35]
print([ i for i in num if i<0])

[-1, -7, -2]

In [44]:
#10.Use a nested list comprehension to find all of the numbers from 1-1000 that
#->are divisible by any single digit besides 1 (2-9)

print( [i for i in range(100) if i%2==0 or i%9==0])

[0, 2, 4, 6, 8, 9, 10, 12, 14, 16, 18, 20, 22, 24, 26, 27, 28, 30, 32, 34, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 56, 58, 60, 62, 63, 64, 66, 68, 70, 72, 74, 76, 78, 80, 81, 82, 84, 86, 88, 90, 92, 94, 96, 98, 99]