In [2]:
#Exercise 1: Reverse a list in Python

#Given:

l = [100, 200, 300, 400, 500]
l.reverse()
l

[500, 400, 300, 200, 100]

In [3]:
#Exercise 2: Concatenate two lists index-wise
#Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

#Given:

l1 = ["M", "na", "i", "Muja"]
l2 = ["y", "me", "s", "hid"]

l=[]
for i in range(len(l1)):
    l.append(l1[i]+l2[i])
    
l

['My', 'name', 'is', 'Mujahid']

In [5]:
#Exercise 3: Turn every item of a list into its square
#Given a list of numbers. write a program to turn every item of a list into its square.
num= [1, 2, 3, 4, 5, 6, 7]
l=[]
for i in num:
    l.append(i**2)

l

[1, 4, 9, 16, 25, 36, 49]

In [6]:
#Exercise 4: Concatenate two lists in the following order
#list1 = ["Hello ", "take "]
#list2 = ["Dear", "Sir"]
#Expected output:

#['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]
l=[]
for i in l1:
    for j in l2:
        l.append(i+j)
        
        
l

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [7]:
#Exercise 5: Iterate both lists simultaneously
#Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]
for x, y in zip(l1, l2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [8]:
#Exercise 6: Remove empty strings from the list of strings
l1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

f = list(filter(None, l1))
print(f)

['Mike', 'Emma', 'Kelly', 'Brad']

In [9]:
#Exercise 7: Add new item to list after a specified item
#Write a program to add item 7000 after 6000 in the following Python List

l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2].append(7000)
l1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [12]:
#Exercise 8: Extend nested list by adding the sublist
#You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.


#Given List:

l1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub = ["h", "i", "j"]
#Expected Output:

#['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

l1[2][1][2].extend(sub)
l1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [15]:
#Exercise 9: Replace listâ€™s item with new value if found
#You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

#Given:

l1 = [5, 10, 15, 20, 25, 50, 20]
x=l1.index(20)
x
l1[x]=200
l1

[5, 10, 15, 200, 25, 50, 20]

In [18]:
#Exercise 10: Remove all occurrences of a specific item from a list.
#Given a Python list, write a program to remove all occurrences of item 20.

#Given:

l1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in l1:
    l1.remove(20)
l1

SyntaxError: invalid syntax (2064341498.py, line 7)