In [2]:
#Exercise 1: Print First 10 natural numbers using while loop
for i in  range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
#Exercise 2: Print the following pattern
#Write a program to print the following number pattern using a loop.

#1 
#1 2 
#1 2 3 
#1 2 3 4 
#1 2 3 4 5

for i in  range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
#Calculate the sum of all numbers from 1 to a given number
#Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

num=int(input("Enter number"))
sum=0
for i in range(1,num+1):
    sum+=i
    
print(sum)

Enter number5
15

In [10]:
#Exercise 4: Write a program to print multiplication table of a given number
num=int(input("Enter number"))

for i in range(1,11):
    print(i*num)

Enter number5
5
10
15
20
25
30
35
40
45
50

In [11]:
#Exercise 5: Display numbers from a list using loop
#Write a program to display only those numbers from a list that satisfy the following conditions
#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop
#Given:
num = [12, 75, 150, 180, 145, 525, 50]
for i in num:
    if i%5==0:
        if i<150:
            print(i)
        if i>500:
            break

75
145

In [12]:
#Exercise 6: Count the total number of digits in a number
#Write a program to count the total number of digits in a number using a while loop.
n=78671
c=0
while(n>0):
    n=n/10
    c+=1
c

329

In [15]:
#Exercise 7: Print the following pattern
#Write a program to use for loop to print the following reverse number pattern

#5 4 3 2 1 
#4 3 2 1 
#3 2 1 
#2 1 
#1

for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
        
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [23]:
#xercise 8: Print list in reverse order using a loop
#Given:

l = [10, 20, 30, 40, 50]
n=[]
n=reversed(l)
for i in n:
    print(i)

50
40
30
20
10

In [24]:
#Exercise 9: Display numbers from -10 to -1 using for loop

for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [26]:
#Exercise 10: Use else block to display a message “Done” after successful execution of for loop

for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

In [37]:
#Exercise 11: Write a program to display all prime numbers within a range
a=20 
b=60
for i in range(a,b+1):
    prime=True
    for j in range(2,i//2):
        if i%j==0:
            prime=False
            break
    if prime:       
        print(i)

23
29
31
37
41
43
47
53
59

In [42]:
#Exercise 12: Display Fibonacci series up to 10 terms
#The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

#For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

num=10
f=0
l=1
for i in range(num):
    print(f)
    r=f+l
    f=l
    l=r

0
1
1
2
3
5
8
13
21
34

In [44]:
#Exercise 13: Find the factorial of a given number
#Write a program to use the loop to find the factorial of a given number.

#The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1


num =5
r=1
for i in range(1,num+1):
    r*=i

print(r)

120

In [46]:
#Exercise 14: Reverse a given integer number
num = 76542
rev = 0
while num > 0:
    remind = num % 10
    rev = (rev * 10) + remind
    num = num // 10
print(rev)

24567

In [47]:
#Exercise 15: Use a loop to display elements from a given list present at odd index positions
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(l)):
    if i%2!=0:
        print(l[i])

20
40
60
80
100

In [48]:
#Exercise 16: Calculate the cube of all numbers from 1 to a given number
#Write a program to rint the cube of all numbers from 1 to a given number
num =7
for i in range(1,num+1):
    print(i**3)

1
8
27
64
125
216
343

In [50]:
#Exercise 17: Find the sum of the series upto n terms
#Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

n = 5
st = 2
sum = 0

# run loop n times
for i in range(0, n):
    sum += st
    st = st * 10 + 2
print(sum)

24690

In [63]:
#Exercise 18: Print the following pattern
#Write a program to print the following start pattern using the for loop

#* 
#* * 
#* * * 
#* * * * 
#* * * * * 
#* * * * 
#* * * 
#* * 
#*
c=0
for i in range(10):  
    r=0
    if i>4:
        r=i-c
        c+=2
    else:
        r=i        
    for j in range(r):
        print("*",end=' ')
        
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*