In [4]:
#Exercise 1: Accept numbers from a user
#Write a program to accept two numbers from the user and calculate multiplication
a=int(input("Enter the number"))
b=int(input("Enter the number"))
print(a*b)

Enter the number5
Enter the number6
30

In [6]:
#Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
#Use the print() function to format the given words in the mentioned format. Display the ** separator between each string

print("Name","Is","James",sep='**')

Name**Is**James

In [10]:
# 3: Convert Decimal number to octal using print() output formatting

print('%o' % 8)

10

In [15]:
#Exercise 4: Display float number with 2 decimal places using print()

num=34.5667
print('%.2f' % num)

34.57

In [18]:
#Exercise 5: Accept a list of 5 float numbers as an input from the user
a=[]
a=eval(input("Enter the number"))
a

Enter the number[12.20,11.77,45.90,55.50]

[12.2, 11.77, 45.9, 55.5]

In [21]:
#Exercise 7: Accept any three string from one input() call
#Write a program to take three names as input from a user in the single input() function call.
fn, mn, ln = input("Enter three string").split()
print('Firstname:', fn)
print('Midle:', mn)
print('Lastname:', ln)

Enter three stringMujahid Vazeer Jamadar
Firstname: Mujahid
Midle: Vazeer
Lastname: Jamadar

In [29]:
#Exercise 8: Format variables using a string.format() method.
#Write a program to use string.format() method to format the following three variables as per the expected output

n = 'Mujahid'
a = 23
print('My name is {0} and age is {1}'.format(n, a))

My name is Mujahid and age is 23

In [25]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.