In [2]:
#Exercise 1: Calculate the multiplication and sum of two numbers

a=10
b=35
print("Sum of two numbers",a+b)
print("Multiplication of two numbers",a*b)

Sum of two numbers 45
Multiplication of two numbers 350

In [10]:
#Exercise 2: Print the sum of the current number and the previous number
#Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.



prev_num=0
for i in range(1,11):
    sum=i+prev_num
    print("Current Number", i, " Previous Number ", prev_num, " Sum: ", sum)
    prev_num=i

Current Number 1  Previous Number  0  Sum:  1
Current Number 2  Previous Number  1  Sum:  3
Current Number 3  Previous Number  2  Sum:  5
Current Number 4  Previous Number  3  Sum:  7
Current Number 5  Previous Number  4  Sum:  9
Current Number 6  Previous Number  5  Sum:  11
Current Number 7  Previous Number  6  Sum:  13
Current Number 8  Previous Number  7  Sum:  15
Current Number 9  Previous Number  8  Sum:  17
Current Number 10  Previous Number  9  Sum:  19

In [16]:
#Exercise 3: Print characters from a string that are present at an even index number
s='Mujahid Jamadar'
for i in range(1,len(s)):
    if i%2==0:
        print(s[i])

j
h
d
J
m
d
r

In [19]:
#Exercise 4: Remove first n characters from a string
#Write a program to remove characters from a string starting from zero up to n and return a new string.

def remove_char(s,n):
    print(s[n::])
    
remove_char('PockMujahidjamadar',5)

ujahidjamadar

In [22]:
#Exercise 5: Check if the first and last number of a list is the same
#Write a function to return True if the first and last number of a given list is same. 
#->If numbers are different then return False.

def check(l):
    if l[0]==l[-1]:
        return True
    else:
        return False
    
print(check([1,2,3,4,5,6,4,3,6,7,8]))
print(check([7,8,4,5,2,34,1,8,90,7]))

False
True

In [23]:
#Exercise 6: Display numbers divisible by 5 from a list
#Iterate the given list of numbers and print only those numbers which are divisible by 5

l=[14,13,15,55,40,35,78,87,21,90]
for i in l:
    if i%5==0:
        print(i)

15
55
40
35
90

In [24]:
#Exercise 7: Return the count of a given substring from a string
#Write a program to find how many times substring “Emma” appears in the given string.
str = "Emma is good developer. Emma is a writer"

str.count('Emma')

2

In [29]:
#Exercise 8: Print the following pattern
#1 
#2 2 
#3 3 3 
#4 4 4 4 
#5 5 5 5 5

for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
        
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [38]:
#Exercise 9: Check Palindrome Number
#Write a program to check if the given number is a palindrome number.

#A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

def is_palindrome(n):
    orig=n
    rev_num = 0
    while n > 0:
        remind = n % 10
        rev_num = (rev_num * 10) + remind
        n = n // 10

    if rev_num==orig:
        print('palindrome')    
    else:
        print('Not palindrome')
        
is_palindrome(909)

palindrome

In [39]:
is_palindrome(965)

Not palindrome

In [42]:
#Exercise 10: Create a new list from two list using the following condition
#Create a new list from two list using the following condition
#Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and
#->even numbers from the second list.
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
new_list=[]
for i in range(len(list1)):
    if list1[i]%2!=0:
        new_list.append(list1[i])
    if list2[i]%2==0:
        new_list.append(list2[i])
        
new_list

[40, 25, 60, 35, 90]

In [44]:
#Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
#For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

num = 7536

while num > 0:
    dig = num % 10
    num = num // 10
    print(dig, end=" ")

6 3 5 7

In [47]:
#Exercise 12: Calculate income tax for the given income by adhering to the rules below
#First $10,000	0
#Next $10,000	10
#The remaining	20

income = 45000
tax = 0

if income <= 10000:
    tax = 0
elif income <= 20000:
    
    x = income - 10000
    tax = x * 10 / 100
else:
    tax = 0
    tax = 10000 * 10 / 100
    tax += (income - 20000) * 20 / 100

print("Total tax to pay is", tax)

Total tax to pay is 6000.0

In [55]:
#Exercise 13: Print multiplication table from 1 to 10
#Expected Output:

#1  2 3 4 5 6 7 8 9 10 		
#2  4 6 8 10 12 14 16 18 20 		
#3  6 9 12 15 18 21 24 27 30 		
#4  8 12 16 20 24 28 32 36 40 		
#5  10 15 20 25 30 35 40 45 50 		
#6  12 18 24 30 36 42 48 54 60 		
#7  14 21 28 35 42 49 56 63 70 		
#8  16 24 32 40 48 56 64 72 80 		
#9  18 27 36 45 54 63 72 81 90 		
#10 20 30 40 50 60 70 80 90 100 


for i in range(1,11):
    print(i,end='  ')
    for j in range(1,11):
        print(i*j,end=' ')
        
    print()

1  1 2 3 4 5 6 7 8 9 10
2  2 4 6 8 10 12 14 16 18 20
3  3 6 9 12 15 18 21 24 27 30
4  4 8 12 16 20 24 28 32 36 40
5  5 10 15 20 25 30 35 40 45 50
6  6 12 18 24 30 36 42 48 54 60
7  7 14 21 28 35 42 49 56 63 70
8  8 16 24 32 40 48 56 64 72 80
9  9 18 27 36 45 54 63 72 81 90
10  10 20 30 40 50 60 70 80 90 100

In [63]:
#Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)
#* * * * *  
#* * * *  
#* * *  
#* *  
#*

for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [68]:
#Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
#Note here exp is a non-negative integer, and the base is an integer.


def exponent(b,exp):
    result=1
    for i in range(exp):
        
        result*=b 
        
    return result

print(exponent(2,3))

print(exponent(5,4))

8
625