In [1]:
# Assignment: use sorted over list,list of string,work on key,reverse
x = [67,54,89,99,32,78,11,87]
sorted(x)

[11, 32, 54, 67, 78, 87, 89, 99]

In [4]:
sorted(x,reverse=True)

[99, 89, 87, 78, 67, 54, 32, 11]

In [5]:
y=['Mujahid','Aftab','Ansar','Abdul Basit','salman','vaibhav']
sorted(y)

['Abdul Basit', 'Aftab', 'Ansar', 'Mujahid', 'salman', 'vaibhav']

In [6]:
sorted(y,reverse=True)

['vaibhav', 'salman', 'Mujahid', 'Ansar', 'Aftab', 'Abdul Basit']

In [7]:
sorted(y,key=len)

['Aftab', 'Ansar', 'salman', 'Mujahid', 'vaibhav', 'Abdul Basit']

In [8]:
sorted(y,key=len,reverse=True)

['Abdul Basit', 'Mujahid', 'vaibhav', 'salman', 'Aftab', 'Ansar']

In [ ]:
# sort vs sorted
#1.->sort function returns nothing and makes changes to the original sequence
#   ->while the sorted () function creates a new sequence type containing a sorted version of the given sequence
#2.->The sort() method sorts the list.while The sorted() function returns a sorted list of the specific iterable object.

In [12]:
#Apply reverse on list, list of string
x

[67, 54, 89, 99, 32, 78, 11, 87]

In [13]:
reversed(x)

In [15]:
# to see value perform typecating 
list(reversed(x))

[87, 11, 78, 32, 99, 89, 54, 67]

In [16]:
y

['Mujahid', 'Aftab', 'Ansar', 'Abdul Basit', 'salman', 'vaibhav']

In [17]:
list(reversed(y))

['vaibhav', 'salman', 'Abdul Basit', 'Ansar', 'Aftab', 'Mujahid']

In [18]:
#Assignment: tk input set,tuple from user
#1.set
x=eval(input("Enter the set"))

Enter the set{1,2,3,4,6,3,7,8,9}

In [19]:
x

{1, 2, 3, 4, 6, 7, 8, 9}

In [20]:
type(x)

set

In [21]:
#2.Tuple
y=eval(input("Enter the Tuple"))

Enter the Tuple(88,76,45,99,76,90)

In [22]:
y

(88, 76, 45, 99, 76, 90)

In [23]:
type(y)

tuple