In [15]:
#apply for reamining data sturture
#string,tuple,range,dict,set,fronzen set

# solve three example with if if else if else if 
# print below pattern 
AAAA
BBB
cc
d

ABCDE
ABCD
ABC
AB
A







A
AB
ABC
ABCD
ABCDE

In [2]:
1.tuple
t=('pune','Goa','mumbai','kolhapur')
for city in t:
    print(city)

pune
Goa
mumbai
kolhapur

In [37]:
#2.stirng
name='Mujahid Jamadar'
for i in name:
    print(i,end='')

Mujahid Jamadar

In [9]:
#3.set
s={1,2,2,5,6,7,8,7,9,5,4,34,7,8,9}
for i in s:
    print(i)

1
2
34
4
5
6
7
8
9

In [10]:
f_set = frozenset(s)
type(f_set)

frozenset

In [11]:
#3.frozenset
for i in f_set:
    print(i)

1
2
34
4
5
6
7
8
9

In [14]:
#4.Dict
d={'name':'Mujahid','age':23,'place':'Mangaon'}
for i in d:
    print(i,':',d[i])

name : Mujahid
age : 23
place : Mangaon

In [17]:
# solve three example with if if else if else if

#1.
s=[1,9,3,5,7,6,82,1,3,4]
#PS.Number greater than 5
for i in s:
    if i>5:
        print(i)

9
7
6
82

In [20]:
#2.pass and fail
x=[40,90,78,35,88,20,70]
for i in x:
    if i>=40:
        print(i,'Pass')
    else:
        print(i,'Fail')

40 Pass
90 Pass
78 Pass
35 Fail
88 Pass
20 Fail
70 Pass

In [21]:
#3.Grade of studnet
d={'mujahid':60,'Ansar':92,'Basit':78,'Aftab':85,'Salman':66}
for i in d:
    if d[i]>90:
        print(i,'Excellent')
    elif d[i]>75:
        print(i,'Good')
        
    else:
        print(i,'Average')

mujahid Average
Ansar Excellent
Basit Good
Aftab Good
Salman Average

In [25]:
# print below pattern 
#AAAA
#BBB
#CC
#D
a=65
for i in range(4,0,-1):
    print(chr(a)*i)
    a=a+1

AAAA
BBB
CC
D

In [42]:
# print below pattern 
#ABCDE
#ABCD
#ABC
#AB
#A

for i in range(5,0,-1):
   
    for x in range(65,65+i):
        print(chr(x),end='')
       
    print('\n')

ABCDE

ABCD

ABC

AB

A

In [43]:
# print below pattern 
#A
#AB
#ABC
#ABCD
#ABCDE
for i in range(1,6):
    
    for x in range(65,65+i):
        print(chr(x),end='')
        x
    print('\n')

A

AB

ABC

ABCD

ABCDE